*{
    color: white;
}
#navbar{
    height: 60px;
    background-color: black;
}
button{
    background-color: #f08804;
    cursor: pointer;
}
#logo{
    color: #4e3310;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.contentb{
    color: white;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    display: inline-block;
    transition-duration: 0.4s;
}
.contentb:hover{
    color: rgb(0, 0, 0);
}
#content{
    height: 500px;
}
footer{
    color:white;
    background-color: black;
    text-align: center;
}

