.navbar{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    font-size: 50px;
    align-items: center;
}
.links{
    display: flex;
    flex-direction: column;
    background-color: gray;
}
.links a{
    color: blue;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    transition-duration: 0s;
}
.links a:hover{
    background-color: beige;
}
.personal{
    background-color: rgba(177, 2, 58, 0.833);
    height: 200px;
    width: 200px;
}